<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <title>Property Editor Test</title>
        
        @*Currently this needs to be loaded before anything*@
        <script src="@Url.Action("ServerVariables", "SystemScripts")" type="text/javascript"></script>
       
        @RenderSection("Headder", false)
    </head>
    <body>
        
        @RenderBody()
        
        <script src="~/Belle/lib/require/require-2.1.0.js" type="text/javascript"></script>
        <script src="@Url.Action("Application", "SystemScripts")" type="text/javascript"></script>
        <script src="@Url.Action("ServerVariables", "SystemScripts")" type="text/javascript"></script>

        @RenderSection("Footer", false)
    </body>
</html>
    